@model EntityLayer.Concrete.Service

@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("AddService", "Service", FormMethod.Post))
{
    <br />
    @Html.Label("Hizmet Başlığı")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Görsel URL</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-info">Kaydet</button>
}
